<!--The content below is only a placeholder and can be replaced.-->
<div class="all" style="max-width: 1300px;margin-right: auto; margin-left: auto;">
    <app-search-form></app-search-form>
    <div class='container'>
    <div class="resultsTab">
        <div style="margin-left: auto;margin-right: auto;width:fit-content;width:-webkit-fit-content;width:-moz-fit-content;">
        <nav class="nav nav-pills flex-column flex-sm-row">
          <a class="flex-sm-fill text-sm-center nav-link " [class.active]="this.searchService.buttonOfresultandfavorate" (click)="toSearchResults()" >Results</a>
          <a class="flex-sm-fill text-sm-center nav-link"[class.active]="!this.searchService.buttonOfresultandfavorate" (click)="toFarorate()" >Favorites</a>
        </nav>
        </div>
    </div>
    </div>
    <router-outlet></router-outlet>
</div>

