/*div.searchFormDiv {
      margin-top: 40px;
      margin-bottom: 50px;
      width:700px;
      margin-left:auto;
      margin-right: auto;
      border-style: solid;
      border-color: #cdcccd;
      background-color: #f8f8f8;
      padding: 0 20px 20px 20px;
}*/
div.searchFormDiv{
      max-width:700px;
      margin-left:auto;
      margin-right: auto;
      border-style: solid;
      border-color: #cdcccd;
      background-color: #f8f8f8;
      padding: 0 20px 20px 20px;
            margin-top: 40px;
      margin-bottom: 50px;
}
.star {
      color: red; /* Make it red */
      font-size: 40%; /* Make it twice as large */
}
